@import "tailwindcss";

@theme {
  --font-display: var(--font-display), "Space Grotesk", sans-serif;
  --font-sans: var(--font-sans), "Inter", sans-serif;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@layer base {
  body {
    @apply antialiased;
  }
}
